.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background: #81ecec;
}
.youtube {
  margin: 10px 0px;  
}
.btn {
  border: 1px solid #EC5365;
  background: #EC5365;
  padding: 14px 30px 12px 30px;
  border-radius: 30px;
  color: #fff;
  margin-top: 25px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0px 2px 2px 1px #EC5365;
  text-align: center;
   transition: 0.3s all;
   margin-bottom: 15px;
}
.btn:hover {
  box-shadow: 0px 2px 2px 2px #EC5365;
  transition: 0.3s all;
}
